header {
  font-family: "Space Grotesk", sans-serif;
}

body,
footer {
  font-family: "Space Grotesk", sans-serif;
  padding: 0 100px;
}

h1 {
  font-size: 60px;
}

h2 {
  font-size: 40px;
}

h3 {
  font-size: 30px;
}

p {
  font-size: 18px;
  margin: 0;
}

a {
  text-decoration: none;
  color: #191a23;
  font-size: 20px;
}

a:hover {
  color: gray;
}

header {
  margin-top: 2%;
}

.d-flex {
  flex-wrap: wrap;
}
.header-wrapper {
  align-items: center;
}

.btn-primary.request-quote {
  border: 1px solid #191a23;
  background-color: white;
  color: black;
  border-radius: 14px;
  padding: 20px 35px 20px 35px !important;
  font-size: 20px;

  /* padding-bottom: 10px !important; */
}

.navigation-wrapper {
  display: flex;
  gap: 35px;
  align-items: center;
}

.consulation {
  padding: 70px 0 70px 0;
}

.consulation-1 {
  gap: 40px;
}

.btn-primary.book-consulation {
  border: none;
  background-color: #191a23;
  color: white;
  border-radius: 14px;
  padding: 20px 35px 20px 35px !important;
  font-size: 20px;
  width: 40%;

  /* padding-bottom: 10px !important; */
}

.sponsors {
  padding: 70px 0 0 0;
}

.services-container {
  padding: 0;
}
.services-container .col-md-6 {
  padding: 0 20px 0 20px;
  margin-top: 40px;
}
.services-container .row {
  width: 100%;
}
.services-flex {
  gap: 40px;
}

.service-info {
  padding: 50px 50px 50px 50px;
  border-radius: 14px;
  border: 1px solid #191a23;
  box-shadow: 0 5px 0 0 #191a23;
}

.service-info.gray {
  background-color: #f3f3f3;
}

.service-info.green {
  background-color: #b9ff66;
}

.service-info.black {
  background-color: #191a23;
}

.services-header-green {
  background-color: #b9ff66;
  padding: 0px 10px 0px 10px;
  border-radius: 14px;
}

.services-container {
  gap: 40px;
}

.service-info-header.white h3 {
  background-color: #ffffff;
  border-radius: 14px;
}

.service-info-header.green h3 {
  background-color: #b9ff66;
  border-radius: 14px;
}

.learn-more-info {
  gap: 20px;
}

.services {
  padding-top: 150px;
  gap: 50px;
}

.left-col {
  gap: 93px;
}

.proposal {
  margin-top: 70px;
  padding: 30px;
}

.proposal .row {
}

.proposal-wrapper {
  border-radius: 28px;
  padding: 0px 20px 0px 20px;
  background-color: #f3f3f3;
  height: 380px;
}

.case-studies {
  padding-top: 150px;
  gap: 50px;
}

.case-studies-info {
  background-color: #191a23;
  padding: 70px 60px 70px 60px;
  gap: 64px;
  border-radius: 45px;
}

.case-learn {
  color: white;
}

.case-learn-more {
  color: #b9ff66;
}

.vl {
  border-left: 1px solid white;
  height: 168px;
}

.working-process {
  padding-top: 150px;
  align-content: center;
  gap: 50px;
}

.accordion-wrapper {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  gap: 30px;
}

.accordion {
  box-shadow: 0 5px 0 0 #191a23;
  border-radius: 45px;
  margin-bottom: 8px;
  overflow: hidden;
}

.accordion-label {
  padding: 41px 60px 41px 60px;
  background: #f3f3f3;
  font-weight: bold;
  cursor: pointer;
  font-size: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.accordion-label:hover {
  background: #191a23;
  color: white;
}

.accordion-label::after {
  content: "\002B";
  transform: rotate(0deg);
  transition: transform 0.3s;
}

.accordion.open .accordion-label::after {
  content: "\2212";
}

.accordion-content {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease;
  background: #b9ff66;
  padding: 0 16px;
}

.accordion-content hr {
  margin: 0;
}

.accordion.active .accordion-label {
  padding: 41px 60px 0px 60px;

  background: #b9ff66;
}
.accordion.active .accordion-content {
  overflow: visible;
  padding: 30px 60px 41px 60px;
}

.accordion-content p {
  margin: 0;
  padding: 16px 0;
  font-size: 18px;
  color: #191a23;
}

.team {
  padding-top: 150px;

  gap: 50px;
}

.team-grid-wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 40px;
}

.team-member {
  padding: 40px 35px 40px 35px;
  border-radius: 45px;
  gap: 28px;
  border: 1px solid #191a23;

  box-shadow: 0 5px 0 0 #191a23;
}

.testimonals {
  padding-top: 75px;
  gap: 50px;
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-wrapper-all {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 70px 0 70px 0;
  border-radius: 45px;
  background-color: #191a23;
  color: white;
}

.swiper-navigate {
  padding-top: 124px;
}

.swiper-slide {
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide-info {
  gap: 20px;
}

.swiper-message {
  padding: 40px;
  border-radius: 45px;
  border: 1px solid #b9ff66;
}

.swiper-header {
  padding: 0px 40px 0px 40px;
}
.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.swiper {
  margin-left: auto;
  margin-right: auto;
}

.swiper-button-next,
.swiper-button-prev {
  position: unset;
  color: #b9ff66;
}

.swiper-pagination-bullet-active {
  background: #b9ff66;
}

.contact-us {
  padding-top: 150px;
  gap: 50px;
}

.contact-radio {
  gap: 20px;
}

.contact-radio input[type="radio"] {
  appearance: none;
  -webkit-appearance: none;
  width: 28px;
  height: 28px;
  border: 2px solid #191a23;
  border-radius: 50%;
  background-color: white;
  cursor: pointer;
  position: relative;
  display: inline-block;
}

.contact-radio input[type="radio"]:checked::after {
  content: "";
  width: 15px;
  height: 15px;
  background-color: #b9ff66;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.btn-primary.send-message-button {
  border: none;
  background-color: #191a23;
  color: white;
  border-radius: 14px;
  padding: 20px 35px 20px 35px !important;
  font-size: 20px;
}

.contact-wrapper {
  padding: 60px 0px 60px 100px;
  background: #f3f3f3;
  border-radius: 45px;
  display: grid;
  grid-template-columns: 50% 50%;
}

.contact-wrapper form {
  margin: 0 auto;
  gap: 25px;
}

.contact-wrapper form label {
  display: block;
  margin-bottom: 5px;
}

.contact-wrapper input[type="text"],
.contact-wrapper input[type="email"],
.contact-wrapper textarea {
  padding: 18px 30px 18px 30px;
  border: 1px solid #ccc;
  border-radius: 14px;
  box-sizing: border-box;
  width: 100%;
}

.contact-wrapper textarea {
  min-height: 200px;
}

footer {
  gap: 50px;
  background: #191a23;
  margin-top: 150px;
  margin-bottom: 0;
  padding: 55px 50px 55px 50px;
  border-top-left-radius: 45px;
  border-top-right-radius: 45px;
}

.footer-header {
  gap: 155px;
}

.footer-navigate {
  gap: 40px;
}

.footer-social {
  gap: 20px;
}

.footer-navigate a {
  text-decoration: underline;
  color: white;
}

.footer-first-wrapper {
  gap: 66px;
}

.footer-contact-wrapper {
}

.footer-contact-info {
  color: white;
  gap: 20px;
}

.footer-contact-header {
  background-color: #b9ff66;
  color: #191a23;
  border-radius: 7px;
}

.footer-subscribe {
  padding: 58px 40px 58px 40px;
  background-color: #292a32;
  border-radius: 14px;
  gap: 20px;
  width: 50%;
}

.subscribe-btn {
  border: none;
  background-color: #b9ff66;
  color: black;
  border-radius: 14px;
  padding: 20px 35px 20px 35px !important;
  font-size: 20px;
}

.footer-subscribe input[type="email"] {
  padding: 22px 35px 22px 35px;
  border-color: white;
  color: white;
  border-radius: 14px;
  background-color: transparent;
}

.footer-foot {
  color: white;
}

.footer-foot a {
  color: white;

  text-decoration: underline;
}

.hamburger-menu {
  display: none;
  flex-direction: column;
  justify-content: space-around;
  width: 30px;
  height: 30px;
  cursor: pointer;
}

.hamburger-menu div {
  width: 100%;
  height: 4px;
  background-color: #000;
}

@media only screen and (max-width: 800px) {
  .row {
    --bs-gutter-x: 0px;
  }

  body,
  footer {
    padding: 10px;
  }

  h1 {
    font-size: 43px;
  }

  h2 {
    font-size: 36px;
  }

  h3 {
    font-size: 26px;
  }

  h4 {
    font-size: 18px;
  }

  p {
    font-size: 16px;
    margin: 0;
  }

  .vl {
    display: none;
  }

  .consulation {
    text-align: center;
  }
  .consulation div {
    padding: 0;
  }

  .navigation-wrapper {
    visibility: hidden;
    display: none;
    position: absolute;
    top: 60px;
    right: 10px;
    background: white;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 10px;
    flex-direction: column;
  }

  .navigation-wrapper.active {
    visibility: visible;
    display: flex;
    width: 100%;
  }

  .hamburger-menu {
    display: flex;
  }

  .btn-primary.book-consulation {
    width: 100%;
  }

  .team-grid-wrapper {
    grid-template-columns: repeat(1, 1fr);
  }

  .contact-img {
    display: none !important;
  }

  .contact-wrapper {
    padding: 75px 30px 75px 30px;
    grid-template-columns: 100% 0%;
  }

  .working-process {
  }

  footer {
    flex-wrap: nowrap;
  }

  .footer-first-wrapper {
    align-items: center;
    justify-content: center;
  }

  .footer-contact-wrapper {
    flex-wrap: wrap;
    width: 100%;
  }
  .footer-header {
    padding-top: 20px;
  }

  .footer-header,
  .footer-navigate {
    flex-direction: column !important;
    align-items: center;
    gap: 20px;
  }

  .footer-social {
    justify-content: center;
  }

  .footer-subscribe {
    width: 100%;
  }

  .footer-contact-info {
    width: 100%;
    align-content: center;
  }

  .services-flex {
    justify-content: center !important;
    text-align: center;
  }

  .service-info-img {
    display: flex;
    align-items: flex-end;
  }

  .service-info-img img {
    max-width: 100%;
    height: auto;
    object-fit: cover;
  }

  .proposal-img {
    display: none !important;
  }

  
}
